{% extends "dashboardLayout.html" %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='billing.css')}}">
<title>Billing</title>
{% endblock %}

{% block username %}
{{username}}
{% endblock %}

{% block currentDate %}
{{date}}
{% endblock %}

{% block rightContainer %}

<!-- content  -->
<div class="right-container">
    <div class="welcome-message">
        <i class="fas fa-warehouse"></i>
        Inventory Management System
    </div>
    <div class="block-container">

        {% for mess in get_flashed_messages() %}
        <div class="flash-message">
            <p>{{mess}}</p>
            <button class="close-btn">OK</button>
        </div>
        {% endfor %}

        <h1>Billing section</h1>
        <div class="row1">
            <form action="/ClearBillArray" class="sub-form">
                <button class="btn submit-btn">New Bill</button>
            </form>
            <form action="/Showbill" class="sub-form">
                <button class="btn submit-btn">
                    <a href="/Showbill" class="a-link" target="_blank">Get Bill</a>
                </button>
            </form>
            <p class="bill_id">Bill ID- {{billID}}</p>
        </div>
        <form action="/dashboard/Createbill" class="form" method="POST" method="GET">
            <!-- Customer details form  -->
            <h2 class="sub-heading">Customer details <br>
                <p>Enter only once</p>
            </h2>
            <div class="row1">
                <input type="text" class="input-box input-box--large" placeholder="Name" name="c_name">
                <input type="tel" maxlength="10" class="input-box input-box--large" placeholder="Contact no"
                    name="c_contact">
            </div>
            <!-- product details -->
            <h2 class="sub-heading">Product Details</h2>
            <div class="col">
                <label for="p-id">Product ID</label>
                <input type="text" id="p-id" class="input-box input-box--small" name="p-id" required>

                <label for="p-id">Product Name</label>
                <input type="text" id="p-name" class="input-box input-box--small" name="p-name" required>

                <label for="p-id">Product Quantity</label>
                <input type="number" id="p-quantity" class="input-box input-box--small" name="p-quantity" required>

                <label for="p-id">Product Price</label>
                <input type="text" id="p-price" class="input-box input-box--small" placeholder="Rs" name="p-price"
                    required>

                <div class="btn-row">
                    <button class="btn submit-btn">Add To Bill</button>
                </div>
            </div>
        </form>
        <br>
        <form action="/searchBill" class="form" method="POST">
            <h2>Search any Bill</h2>
            <div class="row" style="width: 100%;">
                <input type="text" id="bill_id" class="input-box input-box--small" placeholder="Bill id" name="b-id"
                    required>
                <button type="submit" class="btn submit-btn" type="submit">Search</button>
            </div>
            <table style="width: 100%">
                <tr>
                    <th>Bill ID</th>
                    <th>Bill Date</th>
                    <th>Customer Name</th>
                    <th>Customer Contact</th>
                    <th>Bill total</th>
                </tr>
                {% for row in bills %}
                <tr>
                    <td>{{row[1]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[5]}}</td>
                    <td>{{row[4]}}</td>
                </tr>
                {% endfor %}
            </table>
        </form>
    </div>
</div>

<script src="{{url_for('static',filename='help.js')}}"></script>
{% endblock %}