{% extends "layout.html" %}
{% block head %}
{% endblock %}

{% block body %}

<!-- common for all pages -->
<div class="main-container">
    <!-- Nav menu -->
    <div class="left-container">
        <!-- User account block -->
        <div class="user-tag-block">
            <div class="user--name">
                {% block username %}

                {% endblock %}
                <span>
                    {% block currentDate %}

                    {% endblock %}
                </span>
            </div>
        </div>
        <!-- nav items -->
        <div class="nav">
            <p class="normal-text">Dashboard</p>
            <ul>
                <li class="nav-blocks ">
                    <a href="/dashboard" class="nav-links">
                        <i class="fas fa-home"></i>
                        Home</a>
                </li>
                <li class="nav-blocks"><a href="/dashboard/myprofile" class="nav-links">
                        <i class="fas fa-user"></i>
                        My Profile</a></li>
                <li class="nav-blocks"><a href="/dashboard/newsuppliers" class="nav-links">
                        <i class="fas fa-users"></i></i>
                        My suppliers</a></li>
                <li class="nav-blocks"><a href="/dashboard/newInvoice" class="nav-links">
                        <i class="fas fa-file-invoice"></i></i>
                        Invoice</a></li>
                <li class="nav-blocks">
                    <a href="/dashboard/EditInventory" class="nav-links">
                        <i class="fas fa-warehouse"></i>
                        Edit Inventory</a>
                </li>
                <li class="nav-blocks"><a href="/dashboard/viewInventory" class="nav-links">
                        <i class="fas fa-boxes"></i>
                        View Inventory</a></li>
                <li class="nav-blocks">
                    <a href="" class="nav-links">
                        <i class="fas fa-file-invoice-dollar"></i>
                        Billing</a>
                </li>
                <li class="nav-blocks">
                    <a href="/helppage" class="nav-links">
                        <i class="fa fa-question" aria-hidden="true"></i>
                        Help page</a>
                </li>
                <li class="nav-blocks">
                    <a href="/logout" class="nav-links">
                        <i class="fas fa-user-lock"></i>
                        Logout</a>
                </li>
            </ul>
        </div>
    </div>
    {% block rightContainer %}

    {% endblock %}
</div>

{% endblock %}