{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='help-page.css')}}">
<script src="https://kit.fontawesome.com/6f628bdd8a.js" crossorigin="anonymous"></script>
<title>Help page</title>
{% endblock %}

{% block body %}

<!-- nav with company name -->
<nav>
    <div class="company-name">
        <i class="fas fa-warehouse"></i>
        Inventory management system
    </div>
    <div class="nav-link">
        <a href="/dashboard">Home</a>
    </div>
</nav>

<section class="container">
    <h1>Usage Documentation</h1>
    <div class="header">
        <h1>What our services provide??</h1>
        <p>
            We provide services like,
        <ol>
            <li class="list">
                Manage your inventory with add products , delete product , update stocks
            </li>
            <li class="list">
                Order new products via invoices and also record of all invoices will be available for you
            </li>
            <li class="list">
                You get a billing system for customer billing
            </li>
            <li class="list">Smart features</li>
        </ol>
        </p>
    </div>
    <div class="header">
        <h1>What are smart features your inventory system has??</h1>
        <p>
            Automatic Inventory system is the highlight of our software. In simple words, A person is handling your
            inventory for you behind the scene
        <ol>
            <li class="list">
                You don't need to update inventory every time you make a invoice. We will update the stocks for you.
            </li>
            <li class="list">
                When you sell any product to a customer,the inventory will be updated automatically.
            </li>
            <li class="list">
                With a great login system in place, your inventory and personal details are safe with us.
            </li>
            <li class="list">
                You can clear the inventory, you can reorder all products with a press of one button.
            </li>
        </ol>
        </p>
    </div>
    <div class="header">
        <h1>How to use Inventory??</h1>
        <p>
            This is one of the most frequent question or doubt that comes to the new user.If you are a new user or have
            doubt how to use inventory efficiently, we have provided
            steps for better usage of our software. Do check it out 👇
        </p>
    </div>
    <div class="instruction-container">
        <div class="block">
            <p class="step-no clr-skyblue">Step 1</p>
            <div class="step-icon bg-skyblue">
                <i class="fas fa-people-arrows icon"></i>
            </div>
            <p class="step-heading">
                Add suppliers
            </p>
            <p class="step-content">
                Start by adding all your suppliers details via the my suppliers page, so later you can add products to
                inventory or make new invoices
                without any
                hassle.
            </p>
        </div>
        <div class="block">
            <p class="step-no clr-salmon">Step 2</p>
            <div class="step-icon bg-salmon">
                <i class="fas fa-boxes icon"></i>
            </div>
            <p class="step-heading">
                Add products
            </p>
            <p class="step-content">
                Next go to edit inventory page, Add all the products your inventory will contain and NOTE Don't add same
                product again to
                inventory.We have a smart feature in place to update inventory with new stock but you can update
                products manually too.
            </p>
        </div>
        <div class="block">
            <p class="step-no clr-green">Step 3</p>
            <div class="step-icon bg-green">
                <i class="fas fa-shipping-fast icon"></i>
            </div>
            <p class="step-heading">
                Make a invoice
            </p>
            <p class="step-content">
                Once you add the product your business has,go to new invoices page and start making new invoices to
                reorder products again whenever you want to get new products. Don't
                worry our smart feature will alert you to reorder products when your products reach to min limit you
                entered.
            </p>
        </div>
        <div class="block" style="border-right: none;">
            <p class="step-no clr-red">Step 4</p>
            <div class="step-icon bg-red">
                <i class="fas fa-money-bill icon"></i>
            </div>
            <p class="step-heading">
                Billing
            </p>
            <p class="step-content">
                With help of our billing system you can sell products your inventory contains .As you keep on selling
                products, your inventory will be updated each time you sell any product.
                Don't worry we will remind you to restock the products. You can also customize the bill by adding store
                name,store details.
            </p>
        </div>
    </div>
</section>
<!-- instruction container  -->

{% endblock %}