{% extends "dashboard.html" %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='newInvoice.css')}}">
<script src="https://kit.fontawesome.com/6f628bdd8a.js" crossorigin="anonymous"></script>
<title>New Invoice</title>
{% endblock %}

{% block username %}
{{username}}
{% endblock %}

{% block rightContainer %}
<!-- content  -->
<div class="right-container">
    <div class="welcome-message">
        <i class="fas fa-warehouse"></i>
        Inventory Management System
    </div>

    <!-- add product form  -->
    <form class="form">
        <h2>New Invoice</h2>
        <p>
            You can order new products from suppliers by filling the details here.
        </p>

        <label class="label" for="Supplier name">Supplier name</label>
        <input type="text" id="Supplier Name" class="input-box input-box--large">

        <label class="label" for="Supplier id">Supplier Id</label>
        <input type="text" id="Supplier id" class="input-box input-box--small">

        <label class="label" for="Product id">Product Id</label>
        <input type="text" id="Product id" class="input-box input-box--small">

        <label class="label" for="Product name">Product name</label>
        <input type="text" id="Product Name" class="input-box input-box--large">

        <label class="label" for="Product name">Product Category</label>
        <input type="text" id="Product Category" class="input-box input-box--large">

        <label class="label" for="Product Quantity">Product Quantity</label>
        <input type="text" id="Product Quantity" class="input-box input-box--small">

        <label class="label" for="Product Price">Product Price</label>
        <input type="text" id="Product Price" class="input-box input-box--small">

        <p>Total Amount of invoice : <span>0.0 &nbsp; ₹</span></p>

        <button class="btn submit-btn">Done</button>
    </form>
</div>

{% endblock %}