{% extends "dashboard.html" %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='suppliers.css')}}">
<script src="https://kit.fontawesome.com/6f628bdd8a.js" crossorigin="anonymous"></script>
<title>New Invoice</title>
{% endblock %}

{% block username %}
{{username}}
{% endblock %}

{% block rightContainer %}
<!-- content  -->
<div class="right-container">
    <div class="welcome-message">
        <i class="fas fa-warehouse"></i>
        Inventory Management System
    </div>

    <!--View suppliers  -->
    <div class="view-suppliers">
        <h2>View all your suppliers</h2>
        <div class="show-supplier">

        </div>
    </div>

    <!-- add product form  -->
    <form class="form">
        <h2>Add new Supplier</h2>

        <label class="label" for="Supplier name">Supplier name</label>
        <input type="text" id="Supplier Name" class="input-box input-box--large">

        <label class="label" for="Supplier id">Supplier Id</label>
        <input type="text" id="Supplier id" class="input-box input-box--small">

        <label class="label" for="supplier type">Type of Supplier </label>
        <input type="text" id="supplier type" class="input-box input-box--large"
            placeholder="eg book supplier , vegetable supplier">

        <label class="label" for="supplier no">Supplier contact no</label>
        <input type="text" id="supplier no" class="input-box input-box--small">

        <button class="btn submit-btn">Done</button>
    </form>
</div>

{% endblock %}