* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #f5f8fc;
    --dark-font-color: #000001;
    --light-font-color: #536778;
    --light-border-color: #ced4da;
    --dark-blue: #023e8a;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 100%;
    font-family: 'Noto Sans JP',
        sans-serif;
}


/* ////////////////////////
/*  */
.main-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: var(--secondary-bg-color);
}

/* left container */
.left-container {
    display: flex;
    flex-flow: column wrap;
    width: 20%;
    height: 100vh;
    font-size: 22px;
    color: white;
    background-color: var(--dark-blue);
}


.left-container .user-tag-block {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: auto;
    padding: 2% 0;
    background-color: var(--dark-blue);
    color: white;
}


.left-container .user-tag-block .user--name {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 2% 5%;
    font-size: 24px;
    font-weight: bold;
}

.left-container .user-tag-block .user--name>span {
    width: 100%;
    height: 100%;
    padding: 1%;
    font-size: 15px;
    color: var(--secondary-bg-color)
}

.left-container .nav {
    display: inherit;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 2%;
    font-size: 20px;
    justify-content: center;
}

.left-container .nav .normal-text {
    font-weight: 600;
    font-size: 28px;
}

.left-container .nav .nav-blocks,
.normal-text {
    display: inherit;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 3% 2%;
    margin: 2%;
    justify-content: flex-start;
    font-weight: 500;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}


.left-container .nav .nav-blocks .nav-links {
    text-decoration: none;
    /* color: var(--dark-font-color); */
    color: white;
}

.left-container .nav .nav-blocks:hover {
    border-left: 5px solid var(--primary-bg-color);
    background-color: rgba(255, 255, 255, 0.541);
}

.left-container .nav .active-tab {
    background-color: var(--primary-bg-color);
}

/* right container */

.main-container .right-container {
    display: flex;
    flex-flow: column;
    width: 80%;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    background-color: var(--secondary-bg-color);
}

.main-container .right-container .welcome-message {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 1% 2%;
    font-size: 25px;
    color: var(--dark-font-color);
}