{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='login.css')}}">
<title>Reset Password</title>
{% endblock %}

{% block body %}
<!-- nav-->
<nav>
    <div class="logo">
        Inventory Management System
    </div>
    <div class="nav-items">
        <a href="/contactUs" class="nav-link">Contact Us</a>
        <a href="/signup" class="nav-link">Sign up</a>
        <a href="/login" class="nav-link">Sign in</a>
    </div>
</nav>
{% for mess in get_flashed_messages() %}
<div class="flash-message">
    <p>{{mess}}</p>
    <button class="close-btn">OK</button>
</div>
{% endfor %}

<div class="container">
    <form class="form" style="width: 40%; height: 70%;" action="/updatepassword" method="POST">
        <h2 style="font-size: 30px; font-weight: bold;">Reset your password</h2>
        <p style="text-align: center;">
            Enter new password
        </p>
        <input type="text" name="unique-code" class="input-box" placeholder="Code" required autocomplete="off">
        <input type="text" name="username" class="input-box" placeholder="username" required autocomplete="off">
        <input type="password" name="password" class="input-box" placeholder="new password" required autocomplete="off">
        <button class=" btn login-btn" type="submit">Reset</button>
    </form>
</div>

<script src="{{url_for('static',filename='help.js')}}"></script>
{% endblock %}