* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-bg-color: rgb(122, 57, 184);
    --secondary-bg-color: rgb(141, 182, 80);
}

html,
body {
    font-size: 100%;
    font-family: 'Noto Sans JP',
        sans-serif;
    color: rgb(37, 34, 34);
}

/* flash message */
.flash-message {
    width: 80%;
    height: auto;
    margin: 1% 10%;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flash-message p {
    font-size: 21px;
    font-weight: 600;
    padding: 1% 5%;
}

.flash-message .close-btn {
    width: auto;
    padding: 1% 5%;
    margin: 0 5%;
    height: auto;
    font-size: 20px;
    font-weight: 600;
    outline: none;
    border: none;
    color: white;
    border-radius: 10px;
    background-color: var(--secondary-bg-color);
}