* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-bg-color: rgb(122, 57, 184);
    --secondary-bg-color: rgb(141, 182, 80);
}

html,
body {
    font-size: 100%;
    font-family: 'Noto Sans JP',
        sans-serif;
    color: rgb(37, 34, 34);
}


.form {
    width: 90%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2%;
    margin: 1% 2%;
    background-color: rgb(253, 253, 253);
}

.sub-form {
    width: 90%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1% 2%;
    margin: 0 2%;
    background-color: rgb(253, 253, 253);
}

h2 {
    width: 100%;
    text-align: left;
    padding: 1% 0;
    margin: 1% 0;
    font-size: 30px;
    font-weight: 700;
}

.form .label {
    font-size: 21px;
    padding: 0 2%;
}

.input-box {
    width: 40%;
    padding: 1% 2%;
    margin: 1% 2%;
    font-size: 20px;
    border: 1px solid black;
    background-color: transparent;
    outline: none;
}

.input-box--small {
    width: 30%;
}

.input-box--large {
    width: 50%;
}

.btn {
    width: auto;
    outline: none;
    border: none;
    padding: 1% 2%;
    margin: 3% 2%;
    transition: all 1s ease;
}

.submit-btn,
.get-btn {
    font-size: 24px;
    background-color: var(--primary-bg-color);
    color: white;
}

.get-btn {
    padding: 1% 2%;
    margin: 3% 0;
}

.submit-btn:hover,
.get-btn:hover {
    background-color: white;
    color: var(--primary-bg-color);
    border: 2px solid var(--primary-bg-color);
}

.automatic-btn {
    width: auto;
    padding: 1% 2%;
    margin: 1%;
    font-size: 24px;
    background-color: var(--primary-bg-color);
    color: white;
}

p {
    width: 100%;
    font-size: 20px;
    margin: 0;
    padding: 1% 0;
}

.automatic-btn:hover {
    background-color: transparent;
    color: var(--primary-bg-color);
    border: 2px solid var(--primary-bg-color);
}